---
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import Layout from "../layouts/Layout.astro";

const auth = getAuth(app);

/* Check current session */
if (!Astro.cookies.has("__session")) {
    return Astro.redirect("/signin");
}
const sessionCookie = Astro?.cookies?.get("__session")?.value ?? "";
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
    return Astro.redirect("/signin");
}
---

<Layout title="dashboard">
    <div class="min-h-screen flex items-center justify-center bg-gray-100">
        <div
            class="w-full max-w-sm bg-white rounded-xl shadow-md p-6 space-y-6 text-center"
        >
            <h1 class="text-2xl font-bold">
                Welcome <span class="text-blue-600">{user.displayName}</span>
            </h1>
            <p class="text-gray-700 text-base">We are happy to see you here</p>
            <form action="/api/auth/signout" class="mt-6">
                <button
                    type="submit"
                    class="w-full bg-blue-600 text-white py-2 rounded-lg font-semibold hover:bg-blue-700 transition-colors"
                >
                    Sign out
                </button>
            </form>
        </div>
    </div>
</Layout>
